@use "base/variables" as v;
@use "base/mixins" as m;

.login {
  width: 100%;
  &__grid {
    @include m.tablet {
      @include m.grid(2, 0);
      
      height: 100vh;
    }
  }
  &__contenido,
  &__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  &__contenido{
        background-color: v.$primario;
        color: v.$blanco;
  }
  &__texto{
    color: v.$blanco;
    font-weight: 900;
    display: none;
    @include m.tablet {
        display: block;
    }
  }
  &__lista{
    display: none;
    @include m.tablet {
        display: block;
        list-style-type: '🚀 ';
    }
  }
  &__lista-item{
    margin-bottom: 1rem;
    font-weight: 300;
    &:last-of-type{
        margin-bottom: 0;
    }
  }
  &__heading--azul{
    color: v.$primario;
  }
}
