// Fuentes
$fuentePrincipal: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colores
$primario: #002E5F;
$secundario: #bf942b;

$negro: #000;
$blanco: #FFFFFF;
$gris: #eeefed;
$grisClaro: #f8f8f8;